styles.css

#one {
	font-family: verdana;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;

}
.code {
	font-family: courier;
	display: inline-block;
	width: 23%;
	background-color: ghostwhite;
	padding-right: 10px;
	border: 2px black;
	box-shadow: 0 0 20px orangered;
}
.center {
	text-align: center;
}
.vertical-line {
	border-right: 2px solid black;
	text-decoration: none;
	color: black;
	padding: 15px;
}
.two {
	text-align: center;
}
#color {
	color: orangered;
	padding-left: 30px;
}
.text {
	text-align: right;
}
.bag {
	text-align: right;
}
.pic {
	width: 15vw;
	height: 10vw;
}
.fontsize {
	font-size: 12px;
}
.bodycolor {
	background-color: lightgray;
}
.picsize {
	width: 85%;
	padding: 1px;
}
.float {
	display: float;
}
.container {
	display: flex;
}
.deal {
	flex-grow: 0;
	padding: 10px;
}
.image {
	display: inline-flex;
	justify-content: center;
	padding: 10px;
}
.left {
	float: left;
	width: 80%;
}
.right {
	float: right;
	width: 15%;
	padding-right: 10px;
}
.size {
	font-size: 30px;
}
.recom {
	width: 100px;
}
.size {
	width: 50%;
	padding-left: 15px;
}
.white {
	background-color: ghostwhite;
}
.decor {
	color: black;
	text-decoration: none;
}
.four {
	background-color: peachpuff;
	margin: 25px;
}
.shadow {
	box-shadow: 0 0 10px orangered;
}
.font {
	font-family: sans-serif;
}
.font1 {
	font-family: sans-serif;
}
